.DEPOSIT {
	color: #2ecc40;
}
.WITHDRAWAL {
	color: #ff4136;
}
.RESERVATION_REQUEST {
	color: #ffb700;
}
.RESERVATION_ACCEPT_TRAVELER {
	color: #0074d9;
}
.RESERVATION_ACCEPT_DRIVER {
	color: #2ed9c3;
}
.RESERVATION_REJECT {
	color: #767676;
}
.RESERVATION_FINISHED {
	color: #a17dc3;
}

.balance-panel {
    text-align: center !important;
    font-size: 1.5em !important;
    color: #fff !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08) !important;
    padding: 20px 0 !important;
}
.current-balance {
    background: #43a047 !important;
}
.frozen-balance {
    background: #fbc02d !important;
}