.DEPOSIT {
	color: #2ecc40;
}
.WITHDRAWAL {
	color: #ff4136;
}
.RESERVATION_REQUEST {
	color: #ffb700;
}
.RESERVATION_ACCEPT_TRAVELER {
	color: #0074d9;
}
.RESERVATION_ACCEPT_DRIVER {
	color: #2ed9c3;
}
.RESERVATION_REJECT {
	color: #767676;
}
.RESERVATION_FINISHED {
	color: #a17dc3;
}